table{
    width: 100%;
  margin-top: 20px;
  /* border-collapse: collapse; */
    
}
thead{
    background-color: black;
    color: #ffffff;
}
td{
    text-align: center;
    padding: 10px;
}
.table-headings-row{
    background-color: rgb(66, 74, 128);
}
.table-body-row{
    background-color: rgb(205, 205, 216);
}